[2021-01-24 02:05] lolongan opened #2 "Basic auth credentials"
Thanks a lot for this integration.
Could you explain how/where I can find the "Basic auth credentials" ?

[2021-01-24 18:36] graham33 commented on #2
Yes, I haven't included the token itself or too many details about finding it in this package, since I don't want to undermine efforts to secure the API.  I've added a note about this to the README (https://github.com/graham33/hass-smartbox/commit/c2159260d46f641ece84eb10a95deb9ea59384cd).  Assuming you have access to the web or mobile app for your system it's fairly easy to observe the token in t

[2021-03-07 10:30] lolongan commented on #2
@davefrooney pointed me out to this link which helped me to find out the credentials
[https://www.websparrow.org/misc/how-to-view-http-headers-in-google-chrome](url)

[2021-03-07 10:31] #2 closed

[2021-03-07 15:18] lolongan opened #6 "Warning got after updating to HA Core 2021.3.2"
Hi,

I got the following warning message after updating to HA Core 2021.3.2

`2021-03-07 15:46:09 WARNING (MainThread) [homeassistant.loader] No 'version' key in the manifest file for custom integration 'smartbox'. This will not be allowed in a future version of Home Assistant. Please report this to the maintainer of 'smartbox'`

[2021-03-12 23:37] graham33 commented on #6
Thanks for the report.  It's odd because the manifest is there with the version in it, but it appears the module is being loaded in a way that the manifest is not being read properly.  I've just upgraded to 2021.3.3 so will take a look.

[2021-03-13 06:59] lolongan commented on #6
Just updated to 2021.3.4 and now the warning message does not show anymore.

[2021-03-13 06:59] #6 closed

[2021-08-31 10:57] burnworld3d opened #13 "Add support for HACS in Home Assistant"
Hello!
First of all, thanks for all your hard work. I just discovered your repo & the forum chat (https://community.home-assistant.io/t/haverland-radiators-smart-box-integration/133596/125)

I have aswell wifi radiators that use Haverland app, and in preparation of autumn/winter, I would like to have this addon installed on my Home Assistant instance and fully ready, therefore, as a previous setup

[2021-09-06 15:47] FillR2 opened #14 "Updates are frozen after upgrade to core-2021.9.3 - socketio.exceptions.ConnectionError"
Hi Dev,

First of all, thanks for this excellent plugin. **Unfortunatly, connexion seems to broke after upgrading to core-2021.9.3.**

Note: Setup seems to be OK as the data are correctly reported when starting, but the plugin hangs after some updates with the following error log:

2021-09-06 15:40:22 INFO (MainThread) [homeassistant.setup] Setup of domain lock took 0.0 seconds
2021-09-06 15:40:22

[2021-09-06 16:46] FillR2 commented on #14
After a few more tests reverting to core-2021.8.7 , not so sure it solves the problem, I've got new errors (Also I've updated from OS 6.1 to OS 6.2:

anyio.BrokenResourceError
2021-09-06 18:39:09 INFO (SyncWorker_11) [WazeRouteCalculator.WazeRouteCalculator] From: 48.870064,2.405233 - to: 48.870037, 2.405224
2021-09-06 18:39:09 INFO (SyncWorker_11) [WazeRouteCalculator.WazeRouteCalculator] Time 0.

[2021-09-08 09:51] burnworld3d commented on #14
Yes, I can confirm this issue. I think requirements.txt needs to be upgraded?
@graham33

[2021-09-08 09:55] graham33 commented on #14
OK thanks, I'll take a look in the next few days!

[2021-09-15 20:43] FillR2 commented on #14
Still get a new connexion lots today, any idea ?

`2021-09-15 05:24:41 DEBUG (MainThread) [custom_components.smartbox.climate] Smartbox climate async_update
2021-09-15 05:24:41 DEBUG (MainThread) [custom_components.smartbox.model] Smartbox node async_update
2021-09-15 05:24:41 INFO (MainThread) [custom_components.smartbox.climate] NEW STATUS {'sync_status': 'ok', 'mode': 'off', 'active': False, 'i

[2021-09-15 20:47] FillR2 commented on #14
Still a lost connexion today, any idea ?

2021-09-15 05:24:41 DEBUG (MainThread) [custom_components.smartbox.model] Smartbox node async_update
2021-09-15 05:24:41 INFO (MainThread) [custom_components.smartbox.climate] NEW STATUS {'sync_status': 'ok', 'mode': 'off', 'active': False, 'ice_temp': '15.0', 'eco_temp': '20.0', 'comf_temp': '21.0', 'units': 'C', 'stemp': '17.0', 'mtemp': '24.5', 'power':

[2021-09-27 09:46] FillR2 commented on #14
Hi @graham33

I'm loosing the connexion at least every 48 hours, needs to reboot fully my Home Assistant Raspberry to recover.

So, it's not reliable for controlling my heaters, any way to help to solve the problem ?

Thanks

[2021-10-03 10:19] graham33 commented on #13
This looks fairly straightforward (https://hacs.xyz/docs/publish/start), I'll try to add it for the next release.

[2021-10-03 10:21] graham33 commented on #14
I've just updated my installation to 2021.9.7, I'll see if I can reproduce this.

I don't use the requirements.txt myself, so it's possible that something needs to be more explicitly specified.  @burnworld3d was there anything specific that makes you think an update to requirements.txt is needed?

[2021-10-03 11:00] burnworld3d commented on #13
Thanks a lot mate!

[2021-10-03 11:03] burnworld3d commented on #14
In fact no, it was just intuition as I saw that file specifying a concrete version of HA, and I thought it was related as HA just got an update.

[2021-10-03 11:18] graham33 commented on #14
I see.  requirements.txt is overly-specific (I need a specific version for the test framework I'm using), I'll move that to requirements_test.txt and make requirements.txt looser.  Thanks.

[2021-10-04 19:42] graham33 commented on #14
If you are able to test against the latest commit (4ca44e4), I have fixed requirements.txt to make it less specific.  It might not fix your problem at all of course, but it'd be good to rule it out.  If you can't easily test against the latest github commit directly, I can cut a release.

[2021-10-04 23:05] FillR2 commented on #14
I'm unfortunatly not a developper, I don't know if there is anything I can test (and how).

[2021-10-05 20:50] graham33 commented on #13
I gave this a try in v0.4.0, let me know if it works.

[2021-10-05 20:51] graham33 commented on #14
I've released v0.4.0, please give that a try and see if it helps.  If not, I'll investigate further.

[2021-10-06 20:07] burnworld3d commented on #13
Installed using HACS, it worked fine!

[2021-10-06 20:13] #13 closed

[2021-10-07 10:26] FillR2 commented on #14
Hi @graham33
From my side, I've done some investigations, the problem was occuring on my HA Raspberry but not on My HA Windows VMWare with the same configuration, so we can imagine it was related to the Raspberry.
Updating Smartbox to 0.4.0 was not correcting the problem on the Raspberry (But I'm not sure my test was good)
Yesterday, I've updated my Raspberry to core-2021.10.0 and Home Assistant O

[2021-10-18 09:21] FillR2 opened #16 "smartbox Task Exception after some time"
Hi @graham33

I've done new tests, installing smartbox on a dedicated platform under VMware, so a different configuration from my previous Raspberry and I still have some crashes after some time as you can see below:
[home-assistant.log](https://github.com/graham33/hass-smartbox/files/7363363/home-assistant.log)

Crash has occured at 5:25 after having run many hours as we can see on this screen co

[2021-10-20 19:25] graham33 commented on #16
v0.5.1 (which uses smartbox 0.2.1) should give you a better error message

[2021-10-21 00:06] FillR2 commented on #16
This is the error message I can find in the log:

[2021-10-21 05:42] graham33 commented on #16
That error is coming from a different part of the code. It really looks like you might be having connectivity problems with the upstream server. I wonder if there's some kind of rate limiting going on.

Could you share more details about your installation? Eg which brand(s) of heaters are you using, how many are there, etc.

[2021-10-21 09:11] FillR2 commented on #16
Hi @graham33

Here is the documentation of my heathers: [https://www.valderoma.fr/produit.php?idProduit=14&Wifi](url)

I have 2 of them and here is a sample of my configuration file:

  accounts:
  - api_name: api-climastar
    username: xxx.xxx@provider.fr
    password: "MyPassword"
    device_ids:
    - xxxxxxxxxxxxxxxxxx
  basic_auth_creds: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

Ma

[2021-11-06 17:20] graham33 commented on #16
Ok, so it looks like there are two slightly different issues, which could have the same underlying cause:
1. Sometimes on a token refresh (REST request) the server returns some non-JSON response (the first error you saw).  This wasn't being handled correctly, but we fixed that and added some debug info, so you might get more info if it happens again (has it?)
2. The server (or something in between

[2021-11-07 22:50] FillR2 commented on #16
Hi @graham33
As proposed before, don't you think I can share my real credentials (in a private manner) for you to check/debug my config ?

[2021-11-11 22:24] graham33 commented on #16
I've made a temporary private repo and added you, you can put your creds in there and I can give it a try.

[2021-11-12 14:52] FillR2 commented on #16
Ih Graham, Thanks

Great, I've not found your repo here:[ https://github.com/graham33?tab=repositories](url) can you provide me the link ?

[2021-11-12 21:37] FillR2 commented on #16
Done.

[2021-11-19 12:10] burnworld3d opened #18 "Temperature change needs to be issued twice to work"
Hi again, current version is working so far so good, but there is an error that is driving me crazy: the temperature change needs to be applied twice to have effect.

e.g: You have a radiator configured to 21.5º, if you increase to 22º, the first attempt fails and get switch back to 21.5º.
However on a second try, it works properly.

I recorded a quick video of the bug and uploaded here: https://f

[2021-11-24 11:45] xteca87 commented on #16
Hi,
I think I'm having the same problem as @FillR2. What I describe below has happened to me on several occasions.

Tonight, after running for hours, the temperature graphs stopped working and I see the following error in the logs:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/smartbox/socket.py", line 159, in run
    await loop.run_in_executor(None, self._sess

[2021-11-26 10:07] xteca87 commented on #18
Hello,

The behaviour of the application is the same in my case.

Best regards

[2021-11-26 10:16] graham33 commented on #18
I'll take a look at this, probably next week, thanks for the report!

[2021-11-26 10:17] graham33 commented on #16
Thanks. I think this can be resolved with a simple retry, I'll try to fix ASAP.

[2021-11-29 01:20] lolongan opened #20 "Smartbox could not be setup"
Hi @graham33,

Today I have upgraded HA to 2021.11.5 and hass-smartbox is broken (error "could not be setup").
Any idea of what is the issue and how to fix it ? Thanks.
Here is what the log says:
[code]

[2021-12-02 01:45] graham33 commented on #16
Please try v0.7.0, which has reconnect and retry logic and see if that helps.

[2021-12-02 01:49] graham33 commented on #18
I think the issue is that it's using stale state after the temperature is changed.  If you increase the temp as in your video, say 20.0 to 20.05, you see it revert to 20.0, but then if you leave it a few seconds it will actually come back to 20.5 again.  So i think the update is working fine, it's just not reflecting properly.  I'll look into it further.

[2021-12-02 02:01] graham33 commented on #20
It's connecting to `climastar.helki.com` but perhaps that should be `api-climastar.helki.com`?  There was a breaking change to the config in v0.1.0 that means if your api_name was 'foo' it now needs to be 'api-foo'.  See https://github.com/graham33/hass-smartbox/blob/main/CHANGELOG.md for details.

[2021-12-02 08:09] lolongan commented on #20
Thanks a lot @graham33 ! It works again like charm now.
Have a great day.

[2021-12-02 21:52] burnworld3d commented on #18
You're right, if i do a change, it actually does on radiator, but HA thinks is wrong. However, as you said, if i give HA +30s, it will report the correct status.
I don't know if is something that you can do to improve this strange behaviour, if not, let me know to close the issue.
Thanks again for your effords, and let me know if i can help you with this current 'non really bug' stuff

[2021-12-07 11:33] FillR2 commented on #16
Hi Graham,

I was out, back only today for testing 0.7.0.

Unfortunatly, it doesn't solve the problem as the values returned are always the same values (see the log).
Data are only updated once after a reboot and never after.

extract from home-assistant.log
[smartbox.log](https://github.com/graham33/hass-smartbox/files/7667907/smartbox.log)

[2021-12-09 19:57] burnworld3d opened #21 "Support Haverland Wifi Connect Radiator"
Hi again @graham33!

Just bought a new radiator and seems is not being handled at this moment by your integration.
It use direct wifi connection instead of use the smartbox device, however it appears on the website control page (image with the website version): https://puu.sh/Iv8qH/ec48dc132d.png
so it must be possible somehow to control it from Home Assistant, as it can be controlled like the oth

[2021-12-09 19:59] burnworld3d commented on #20
@lolongan i think you can already close this issue if you solved it 💪

[2021-12-10 15:06] burnworld3d commented on #21
Ok, I can reply myself: Only needed to add the additional radiator ID on the configuration.yaml:
device_ids:
  - smartbox_id
  - wifi_radiator_id
  -
Regards and thanks anyway!

[2021-12-10 15:07] #21 closed

[2021-12-12 10:36] xteca87 opened #22 "Long-term Statistics"
Hello,

This is not an issue, it is a request.
I would like to add the consumption of each heater in the home assistant energy panel.
According to the documentation, the sensor should have some parameters to be able to add it in this panel.
Could you check the following link if it is possible?

https://developers.home-assistant.io/docs/core/entity/sensor/#long-term-statistics

Thank you very much

[2021-12-17 19:56] burnworld3d commented on #16
Hi @graham33
Today got a new error:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/smartbox/socket.py", line 149, in run
    await self._sio.connect(
  File "/usr/local/lib/python3.9/site-packages/socketio/asyncio_client.py", line 116, in connect
    six.raise_from(exceptions.ConnectionError(exc.args[0]), None)
  File "<string>", line 3, in raise_from
socketio.e

[2022-01-03 09:24] burnworld3d commented on #16
@graham33 Could you please update the requirements_common.txt file to grab the smartbox v4.0 instead of current old v3.0, which includes the backoff configurable parameter?

Regards and happy new year!

[2022-01-03 21:03] graham33 commented on #18
@burnworld3d this should hopefully be fixed in v0.8.0 (just released).

[2022-01-03 21:03] #18 closed

[2022-01-03 21:04] graham33 commented on #16
@FillR2 @xteca87 @burnworld3d: v0.8.0 (just released) uses smartbox 0.4.0 and allows you to configure the retry and reconnect behaviour.  If you could try that out we can see if it improves things.

[2022-01-03 21:06] graham33 commented on #22
Hi, in 0.6.0 a change was made to set `state_class` to `MEASUREMENT` (contributed by @ajtudela ), did you try that?

[2022-01-03 22:59] xteca87 commented on #16
Hi @graham33 ,

I upgraded from HACS and got the following error:

`Aquest error té origen en una integració personalitzada.

Logger: homeassistant.setup
Source: custom_components/smartbox/model.py:211
Integration: smartbox (documentation, issues)
First occurred: 23:47:35 (1 occurrences)
Last logged: 23:47:35

Error during setup of component smartbox
Traceback (most recent call last):
  File "/usr

[2022-01-03 23:25] FillR2 commented on #16
Same for me.

[2022-01-04 07:05] graham33 commented on #16
That's odd, that error means you don't have the new version of https://github.com/graham33/smartbox.  I don't use HACS, but my understanding was that this would get installed via the requirements specified in the manifest (https://github.com/graham33/hass-smartbox/blob/main/custom_components/smartbox/manifest.json#L13).  Presumably you're not overriding this in some way?

[2022-01-04 07:17] graham33 commented on #16
Actually it's Home Assistant itself that should install the dependency from the manifest (https://developers.home-assistant.io/docs/creating_integration_manifest/#requirements).  Could you check the logs to see if there were errors upgrading the `smartbox` package?

[2022-01-04 07:27] xteca87 commented on #16
Hello,

I haven't found any logs showing any errors from the upgrade.
In fact, I have not found any log indicating the upgrade process.

Where should it be?

Thanks

[2022-01-04 07:38] graham33 commented on #16
I don't use this mechanism myself, but according to https://community.home-assistant.io/t/requirements-for-custom-component-not-installing-anymore/349356 there should be logs about the upgrade process in the main Home Assistant log.

[2022-01-04 09:24] FillR2 commented on #16
Fron my point of view, looking in the smartbox directory, the plugin is installed at the last version 0.8.0 with all files as available as in the Repo.

[2022-01-04 09:52] graham33 commented on #16
It's not the smartbox custom component that's at issue , but the separate python module called `smartbox` which it depends on. Home Assistant should have upgraded that via pip. Can you run `pip show smartbox` to check it's at version 0.4.0?

[2022-01-04 10:19] xteca87 commented on #16
I have executed the command and it does not tell me that I do not have pip installed.

`[core-ssh ~]$ pip show smartbox`
`bash: pip: command not found`

Could this be the problem?

[2022-01-04 10:27] graham33 commented on #16
I would guess you probably have pip available to Home Assistant somehow. Are you running Home Assistant, is it via docker or something? Maybe share some details of your installation.

[2022-01-04 10:32] FillR2 commented on #16
From my side , I have the message "Package not found", anyway I have never tried to install it before.
Trying to install it with "![image](https://user-images.githubusercontent.com/86425615/148046038-6920af8b-012b-4db3-8dfa-520effbafc8d.png)" manually give me an error (see hard copy)
pip install git+https://github.com/graham33/smartbox.git

[2022-01-04 10:33] xteca87 commented on #16
I have installed the home assistant operating system on a raspberry pi following the HA documentation:
https://www.home-assistant.io/installation/raspberrypi

## System Health

version | core-2021.12.7
-- | --
installation_type | Home Assistant OS
dev | false
hassio | true
docker | true
user | root
virtualenv | false
python_version | 3.9.7
os_name | Linux
os_version | 5.10.63-v8
arch | aarch64
tim

[2022-01-04 14:45] graham33 commented on #16
It just occurred to me that it might be `pip3` rather than `pip`.

[2022-01-04 21:35] graham33 commented on #16
I released 0.8.1 which includes the git sha in the requirements reference, just to be really explicit, but I doubt that will make much difference unfortunately.  It's possible that upgrades are somehow not supported with these git direct references, in which case it might be time to bite the bullet and put the `smartbox` module on PyPI.

[2022-01-04 22:25] patrickbusch commented on #22
Long-term statistics are working for both temparatures and power consumption; I tested with 0.8.0 installed via HACS.

What I did not yet get to work is to add the heaters to the energy consumption tab. I will keep you posted if I find out something

[2022-01-05 17:48] patrickbusch commented on #22
Got it:
To use the heaters in the energy dashboard, you have to aggregate the power values into energy values via integration:

`sensor:
  - platform: integration
    source: sensor.wohnzimmer
    name: energy_wohnzimmer
    unit_prefix: k
    round: 2`

https://www.home-assistant.io/integrations/integration/#energy

[2022-01-05 22:10] xteca87 commented on #16
I completely uninstalled the integration, removed all entities and reinstalled it from HACS.
After performing these steps I still get the following error:

`Logger: homeassistant.setup
Source: custom_components/smartbox/model.py:211
Integration: smartbox (documentation, issues)
First occurred: 19:15:18 (1 occurrences)
Last logged: 19:15:18

Error during setup of component smartbox
Traceback (most

[2022-01-05 22:22] graham33 opened #25 "Log smartbox custom component version and smartbox python module version"
To aid debugging of installation issues.

[2022-01-05 22:24] graham33 commented on #22
Thanks @patrickbusch , I've merged your PR to add this to the README.

[2022-01-05 22:24] #22 closed

[2022-01-05 22:35] graham33 commented on #16
Uninstalling the integration won't help since it's the separate `smartbox` python module that needs to be upgraded, not the integration.

I've just published the module to PyPI (https://pypi.org/project/smartbox/) and released v0.9.0 of the integration which references it from there, rather than using the github direct source, so let's see if that makes a difference.

[2022-01-06 07:36] xteca87 commented on #16
Good morning,
I have updated the integration again and everything is back to normal :D
It was not necessary to update the smartbox module from PyPI manually.
I have my heaters back in home assistant and my first feeling is that everything is running smoother.
I will give you feedback in the next days.

Thank you very much!

[2022-01-06 10:25] patrickbusch commented on #22
Thanks, I'm happy to help. Though there is something wrong with the calculation on my installation, I'll try to find out why.

The module is really stable since I've upgraded. :)

[2022-01-08 19:30] graham33 commented on #16
So far the new version seems more stable to me.  @FillR2 if you could test it as well that would be helpful.

[2022-01-10 22:19] graham33 commented on #16
@FillR2 could you send the logs from around the time you lose data? That should shed some light on the issue

[2022-01-13 21:14] xteca87 commented on #16
Good evening,

I have had two disconnections today and home assistant has stopped writing the temperature graphs.

The error I found in the logs is as follows

`Logger: homeassistant
Source: /usr/src/homeassistant/homeassistant/runner.py:98
First occurred: 20:21:28 (1 occurrences)
Last logged: 20:21:28

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "

[2022-01-15 15:52] graham33 commented on #16
It looks like the reconnect logic isn't working somehow, hmm.  Could you send me the full log?  Presumably this wasn't just after startup and it had been running for a long while?

[2022-01-16 15:28] patrickbusch opened #27 "Updating stops after a while"
Hi,

after a while of running hass-smartbox the updating of values stops until I restart Home Assistant.

Example see attached.
<img width="942" alt="Screenshot 2022-01-16 at 16 26 37" src="https://user-images.githubusercontent.com/2405833/149666398-44bfc1c8-8f4b-4238-b8f8-bd05a03ef96f.png">

This happend with all readings of all heaters simultaneously.

Any idea why this happens?

I'm happy to he

[2022-01-16 19:37] graham33 commented on #27
I think this is likely the same problem as #16, where a connection problem occurs and the exception isn't dealt with properly.  Could you send some logs?  I've implemented some reconnect logic already but it doesn't seem to be working in all cases.

[2022-01-17 00:06] #25 closed

[2022-01-17 00:07] graham33 commented on #16
I've added retry to the initial socket connect in v0.10.0, so please try that and see if it helps.

[2022-01-17 00:08] graham33 commented on #27
Please try v0.10.0 and see if it helps.

[2022-01-17 08:21] patrickbusch commented on #27
The log message was

`2022-01-15 03:25:16 ERROR (MainThread) [homeassistant] Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/smartbox/socket.py", line 149, in run
    await self._sio.connect(
  File "/usr/local/lib/python3.9/site-packages/socketio/asyncio_client.py", line 116, in connect
    six.raise_from(except

[2022-01-17 08:25] graham33 commented on #27
OK, that's good since that's the area of code I added retry to in 0.10.0.

[2022-01-17 08:33] patrickbusch commented on #27
Perfect :)

Just a side note: I updated via HACS and it did not come up the first time. I redownloaded via HACS and restartet HA manually then it came up. Unfortunately it purged my log of the incident, I will report if I see it again.

Thanks!

[2022-01-18 10:17] patrickbusch commented on #27
Hi @graham33 ,

it stopped again this morning, but this time it did not generate a log message.

Restarting HA fixed it again. Any ideas?

[2022-01-18 21:21] graham33 commented on #27
I've observed this with 0.10.0 too, I think I may have introduced a bug with the attempted fix.  I will debug and get back to you, but probably best to use the previous version.

[2022-01-18 21:21] graham33 commented on #16
Note that I may have introduced a bug with the attempted fix in 0.10.0, so it's probably best to stick with the previous version until I've debugged that.

[2022-01-18 21:22] patrickbusch commented on #27
Thanks, I'll stay on 0.10.0 for now as I had the error in previous version also. If I can help let me know

[2022-01-18 21:28] graham33 commented on #27
Thanks.  One thing you can do is enable debug logging for the component and the smartbox module in configuration.yaml (see home-assistant.io/integrations/logger/):

[code]

[2022-01-18 21:33] patrickbusch commented on #27
Thanks, I added the debug logging, keep you posted if I find something

[2022-01-19 12:25] patrickbusch commented on #27
Here is the log:

`
2022-01-19 07:24:08 DEBUG (MainThread) [smartbox.socket] Sending ping
2022-01-19 07:24:28 DEBUG (MainThread) [smartbox.socket] Sending ping
2022-01-19 07:24:38 DEBUG (MainThread) [custom_components.smartbox.sensor] Smartbox sensor async_update
2022-01-19 07:24:38 DEBUG (MainThread) [custom_components.smartbox.model] Smartbox node async_update
2022-01-19 07:24:38 DEBUG (MainThre

[2022-01-20 23:30] graham33 commented on #27
The logging isn't really good enough to track the issue down, so I've release v0.10.1 with better logging.  I've also made one minor fix which might help, so if you could give it a try that would be great.  Thanks!

[2022-01-20 23:59] graham33 opened #30 "Debug logs should not include passwords and credentials"
This makes it too easy to accidentally leak credentials

[2022-01-21 00:00] graham33 commented on #27
Also be careful of #30 which I'll fix soon.

[2022-01-23 12:21] graham33 opened #31 "Warn if no updates have been received for a while"
The smartbox module should track this and then we can alert on it.

[2022-01-23 12:49] FillR2 commented on #16
Hi  @graham33

Just a little update to say my integration is running with last version for 36 hours now without losing any data :-)

[2022-01-23 15:32] xteca87 commented on #16
Apologies for taking so long to respond.
I don't have any log from the day of the failure
I upgraded 4 days ago to the latest version and it has not failed again.
Thank you very much

[2022-01-23 15:44] graham33 commented on #27
Please try v0.10.2, I've fixed a bug and this has been stable for me for a couple of days now (plus it handled several connection failures during that time).

[2022-01-23 15:45] graham33 commented on #16
@FillR2 @xteca87 it's good to hear things are more stable.  I've just release 0.10.2, which should have fixed the bugs in the previous 0.10.x releases, and it should handle failures to connect properly.  It has been stable for me for a couple of days now (plus it handled several connection failures during that time).  It would be great if you can test it.

[2022-01-23 19:44] FillR2 commented on #16
Hi @graham33
I've updated to last version, I will keep you informed.

Note: Version numbers are a bit "cryptic" in HACS:
![image](https://user-images.githubusercontent.com/86425615/150695317-fe0ed6cc-29a5-4f11-bd2c-4fe582fd2b20.png)

[2022-01-23 22:15] graham33 commented on #16
Great thanks. For HACS, it looks like it's referring to the commit rather than the version number.
 I am publishing releases rather than tags, as mentioned here https://hacs.xyz/docs/publish/start#versions, I'll have a look into it.

[2022-01-24 10:09] xteca87 commented on #16
Hello,

I had a disconnection tonight and the graphs stopped writing. I am attaching the complete log this time:

`2022-01-23 20:04:10 WARNING (SyncWorker_0) [homeassistant.util.yaml.loader] YAML file /config/configuration.yaml contains duplicate key "sensor". Check lines 29 and 37
2022-01-23 20:04:11 WARNING (SyncWorker_2) [homeassistant.loader] We found a custom integration smartbox which has no

[2022-01-24 10:30] FillR2 commented on #16
Same for me, disconnect at 08:00 as seen below, solved by a reboot.
![image](https://user-images.githubusercontent.com/86425615/150766442-1cb6b52e-1f7a-4b76-a030-bab64963a14c.png)

[2022-01-24 21:18] graham33 commented on #16
Interestingly I also had disconnect this morning between approximately 07:31 and 11:25 UTC.  Assuming you're in UTC+1 @FillR2 this lines up with your issue.  However my system did reconnect without intervention (using v0.10.2).

![image](https://user-images.githubusercontent.com/10908649/150865103-7c2813b2-d094-42c4-a1ba-249b6a1be293.png)

Nothing disconnected until 11:25 and pings appeared to hav

[2022-01-24 21:22] graham33 commented on #27
@patrickbusch I'm going to close this issue since it seems either the same as or very similar to #16, so it seems better to consolidate things there.  Please follow that issue and let us know there if you see anything further.

[2022-01-24 21:22] graham33 commented on #27
Duplicate of #16

[2022-01-24 21:22] #27 closed

[2022-01-24 22:17] FillR2 commented on #16
Hi @graham33,

You're right, I'm UTC+1 :
- First disconnection occured at 08:30
- Reboot at 10:55
- Recover at 11:02
So disconnections were in the same time ranges, I will not reboot if it occurs again
![image](https://user-images.githubusercontent.com/86425615/150873561-dace1029-5e24-4d68-a8e3-79463fc73237.png)

[2022-01-24 22:18] xteca87 commented on #16
Yes, I'm running 0.10.2 version

[2022-01-24 22:51] graham33 commented on #16
@xteca87 , ah yes I expect your logging was set to a default level of Warning or above before, so that'd be why the version string isn't printed (it's logged at Info level).

[2022-01-25 09:12] patrickbusch commented on #16
Hi, I'm the guy from the other thread, I also just now updated to 0.10.2 and will keep you posted on any disconnects

[2022-01-25 21:58] graham33 commented on #16
Oddly, I had a very similar dead period without updates from around 07:30-11:30 UTC again today, which recovered.

[2022-01-25 22:03] patrickbusch commented on #16
@graham33 The outage on my side today started at 7:25 UTC, but I was on 0.10.1, I then installed the the update to 0.10.2 at 9:04.

This is strange - are we on to something?

[2022-01-25 22:16] graham33 commented on #16
I'm not sure, it's possible these particular dead periods are a bug in hass-smartbox or a problem with the data coming from the server.  If the same issue occurs tomorrow morning I'll try to see if I can investigate further.

Looking at the web interface for my heaters, it does have historical data for the period:

![image](https://user-images.githubusercontent.com/10908649/151068773-47048855-cf82

[2022-01-26 13:30] FillR2 commented on #16
Hi @graham33

The integration seems to work quite well at this time, I think with version number and documentation in HACS (see below), you're ready for version 1.0.0. !

![image](https://user-images.githubusercontent.com/86425615/151171361-fa7cc265-0a2b-4d39-bfba-f80e89f19412.png)

Also you may add a tested radiators compatibility list, "Val de Roma" for me ( https://www.valderoma.fr/ )

Excellen

[2022-01-27 13:18] FillR2 commented on #16
For information, the smartbox was deconnected today between 8:27 AM and 12:25PM CET, and reconnect has been automatic.

[2022-01-27 13:23] patrickbusch commented on #16
@FillR2 Same here, exactly the same timeframe

[2022-01-27 17:23] xteca87 commented on #16
Hello,

Same for me: From 7:06:44AM to 08:25:05AM only sending pings:

![image](https://user-images.githubusercontent.com/76631104/151408218-53faf7d9-d134-4976-8121-84ce6569eb1f.png)

2022-01-27 07:06:36 DEBUG (MainThread) [smartbox.socket] Received update: {'path': '/htr/6/status', 'body': {'sync_status': 'ok', 'mode': 'manual', 'active': True, 'ice_temp': '0.5', 'eco_temp': '1.0', 'comf_temp': '

[2022-01-30 09:31] graham33 opened #33 "Fix HACS version and documentation"
As reported by @FillR2

![image](https://user-images.githubusercontent.com/10908649/151694271-d261dca9-a72f-475c-a053-f4745c324f7e.png)

[2022-01-30 20:44] graham33 commented on #16
Having a bit more of a look at this, I see dead periods on the 24th, 25th, 26th and 27th Jan, but not 28th-30th.

I was wondering if it had to do with token expiry, since smartbox doesn't actively disconnect when the expiry time is reached (it expects the socket.io connection to drop, which it usually seems to do).  However spot-checking a few instances it doesn't seem to be related - e.g. on the

[2022-02-02 21:39] graham33 commented on #33
I think the version numbers likely aren't rendering because they are all marked as 'pre-release'.  Now we're at a reasonably stable point I think I'll remove that for the next release.

[2022-02-02 21:41] graham33 commented on #33
Hopefully adding `render_readme` will fix the docs: https://hacs.xyz/docs/publish/start

[2022-02-02 21:44] #33 closed

[2022-02-03 10:53] graham33 commented on #16
I haven't seen any more dead periods, and everything has been fine for over a week for me without restarting. I'm thinking of closing this out and cutting a 1.0 release on the weekend, let me know if you have outstanding issues though!

I just released 0.11.1 which should have fixed the HACS issues.

[2022-02-03 15:11] patrickbusch commented on #16
I also did not have any dead periods recently

[2022-02-03 15:16] patrickbusch opened #39 "Feature Request: Set total allowed power limit"
In my app I have the option to set a maximum power limit:

![IMG_2844](https://user-images.githubusercontent.com/2405833/152370596-b8a41088-ee91-450d-8fb9-4914e610f1e0.PNG)

This is the limit all heaters are allowed together at the same time.

Is this possible to implement?

[2022-02-03 23:53] FillR2 commented on #16
Same for me, works perfectly well !

[2022-02-04 06:10] xteca87 commented on #16
Dame for me. All works perfectly!!!

[2022-02-04 06:57] graham33 commented on #16
Great, I'll close it out, thanks all.

[2022-02-04 06:58] #16 closed

[2022-02-05 19:46] graham33 opened #44 "Investigate periodic 'dead periods'"
These seem to happen quite regularly between about 07:30 and 11:30 UTC.  Details in #16

[2022-02-05 19:47] graham33 commented on #16
I saw another dead period today, I've opened #44 to investigate at some point.

[2022-02-05 23:47] FillR2 commented on #16
Same here. 08h30-12h26 CET.

[2022-02-06 16:40] patrickbusch commented on #16
Same here

[2022-02-06 19:33] xteca87 commented on #16
Same here

Xavi Tena

El dom., 6 feb. 2022 17:40, Patrick Busch ***@***.***>
escribió:

[2022-02-10 10:33] FillR2 commented on #44
Hi Graham,

A new dead period today at 08:27.

A reboot at 09:44 has solved the problem

[2022-02-20 08:27] graham33 commented on #39
It should be possible to expose this somehow. If it's across all nodes on the device, I guess we need a separate entity to show/set the limit. Sensors don't support setting any kind of max limit as far as I know, so maybe it'd have to be a separate Number entity https://developers.home-assistant.io/docs/core/entity/number/.

I'll try to prototype this and point you to a branch to try.

[2022-03-06 22:39] graham33 commented on #39
I've added functionality to get and set the limit to the underlying smartbox module (see https://github.com/graham33/smartbox/releases/tag/v1.1.0).  I'll try to add support to the integration soon.

[2022-05-09 06:42] limaynard opened #46 "Nodes of type "acm" are not yet supported; no entities will be created"
I have smartbox working and I'm now trying to get hass-smartbox working with my Elnur Gabarron Storage Heaters.

I'm getting the error 'Nodes of type "acm" are not yet supported; no entities will be created'

[2022-05-09 20:07] graham33 commented on #46
Thanks, this should be possible to do.  I had assumed these devices were some type of AC unit given the name, but if they're storage heaters we could start by treating them similarly to the regular `htr` node and see how that goes?

Would you be able to send the output of the `smartbox status` command so we can see what type of status the nodes report?  See https://github.com/graham33/smartbox#get

[2022-05-09 20:08] graham33 commented on #44
Are you still seeing this @FillR2 ?

[2022-05-09 20:23] FillR2 commented on #44
Hi Graham,
No more dead periods, your're integration is working perfectly well.
I'm also using the energy meter in the Energy dashboard,, it's a great integration, thank you.

[2022-05-09 22:17] limaynard commented on #46
Thanks, they seem almost the same as electric radiators - the only difference that I can think of is the charge windows.

I really appreciate you looking into this.

Here's the output from the 'status' command (just one heater)

Hallway (addr: 2)
{
    "charge_level": 2,
    "charging": false,
    "comf_temp": "24.0",
    "eco_temp": "20.0",
    "error_code": 0,
    "heating": false,
    "ice_temp

[2022-06-19 12:00] wadegraaf opened #47 "Error on connecting"
I have a problem connecting to https://api-lhz.elki.com
The error says: requests.exceptions.HTTPError: 401 Client Error: Unauthorized for url: https://api-lhz.helki.com/client/token
I'm pretty sure the username and pass are right. Created an Basic Authorization string using: https://www.debugbear.com/basic-auth-header-generator
Radiotors are from Masterwatt (which is a dutch brand) which are using

[2022-08-20 10:31] jdmcrew commented on #46
something new?

I'm interested in this.

[2022-09-20 03:36] limaynard commented on #46
I haven't looked lately but last time I did it would only recognise the devices.

[2022-10-13 23:34] marconvtr opened #49 "Haverland API with radiators, read-only temperature, and cannot set heat/auto modes"
I have a sucessfull setup of haverland API token and etc, and a test radiator plugged, I can red temperature

but it seems that the hass climate object is not exposing "target" temperature, even though is implemented correctly on "climate.py" source code.

[code]
my haverland API have the following json requests, example setting temperature to 24 degrees

[code]

and example setting temperature do

[2022-10-14 07:29] graham33 commented on #49
Thanks for the report, yes that sounds right - I think support needs to be added for those different modes. My plan is to have some additional options in the config to allow people to configure the supported modes based on which device they have, since I don't believe there's an easy way to query the devices to find out which model they are. Perhaps we'll need a table showing the recommended setti

[2022-10-14 07:41] graham33 opened #50 "Home Assistant API updates"
There have been some API changes over the last few months that we should update to:
* Temperate unit conversions (e.g. rename to `_attr_temperature_unit`): https://developers.home-assistant.io/blog/2022/06/27/weather_entity_refactoring, https://github.com/home-assistant/core/pull/77472/files. We should already support https://developers.home-assistant.io/blog/2021/08/12/sensor_temperature_conversi

[2022-10-14 07:41] graham33 commented on #44
Closing this out since we haven't seen this for a while.

[2022-10-14 07:41] #44 closed

[2022-10-14 07:51] graham33 commented on #46
Hoping to add support for this. I'm assuming these are 'accumulator' type storage heaters like https://www.elnur-global.com/electric-storage-heaters/, explanation of what they are here: https://www.renovablesverdes.com/en/acumuladores-de-calor/ (I didn't know about these before).

[2022-10-14 07:55] graham33 commented on #49
Similar report here: https://community.home-assistant.io/t/haverland-radiators-smart-box-integration/133596/149?u=gr_h_m

![image](https://user-images.githubusercontent.com/10908649/195793371-bfd3ce91-579d-4060-a398-0631318c8260.png)

[2022-10-14 08:04] graham33 opened #51 "Some radiators don't support the 'power' attribute"
As reported here: https://community.home-assistant.io/t/haverland-radiators-smart-box-integration/133596/155?u=gr_h_m

[code]

It's possible this information exists under another name. Wee may need to add a `supports_power` configuration option or similar (and if false we don't create power entities at all).

[2022-10-14 08:11] graham33 opened #52 "Hassfest and HACS validation checks are failing"

[2022-10-14 15:24] alkaldt commented on #49
https://haverland.com/producto/emisores-wi-autoprogramables/

[2022-10-14 21:29] marconvtr commented on #49
This is the radiator

![image](https://user-images.githubusercontent.com/62856065/195946923-8332446c-39b7-4ec0-8c5d-a78f5a9fbeee.png)

[2022-10-14 21:49] graham33 commented on #50
[code]

[2022-10-14 21:56] graham33 opened #54 "Tests should be deterministic"
Currently `random.choice` is used to save code, but it's better to explicit test each option separately.

[2022-10-15 05:11] alkaldt commented on #49
Yes. I have two Wi11 radiators.
The read temp its ok and you can change the automode (schedulemode) too.

El 14 oct 2022 23:29 +0200, Victor Marcon ***@***.***>, escribió:

[2022-10-15 12:09] graham33 commented on #49
@marconvtr @alkaldt thanks - could you confirm that both your radiators report themselves as either `htr_mod` or `acm` node types via `smartbox nodes` (see https://github.com/graham33/smartbox#listing-smartbox-nodes)? I'm hoping I can enable the behaviour that fixes this issue based on the node type (i.e. use `stemp` for `htr` nodes and `selected_temp` for `htr_mod` and `acm` nodes).

[2022-10-15 12:57] graham33 commented on #52
Resolve by #55

[2022-10-15 12:57] #52 closed

[2022-10-17 06:56] graham33 commented on #49
Actually I don't think that will work. @limaynard on #46 reported nodes of type `acm` which still support the protocol with `stemp`. It's possible it's only `htr_mod` that supports the newer protocol discussed here - @marconvtr @alkaldt if you could confirm which type your radiators report themselves as, that would be very helpful.

[2022-10-17 08:50] jmcucurella commented on #49
WI x devices have activity sensors, to change "selected_temp" automatically when mode == "presence" or "self_learning"

[2022-10-18 06:54] graham33 commented on #49
@marconvtr @alkaldt @jmcucurella I have an initial implementation in #57 - are you able to test it from the github branch?

One issue I ran into is how to support setting the target temperature in eco mode: I don't think HA has support for this concept (AFAIK), so it only knows about the overall temperature (comfort_temp - eco_offset). Do you think setting the target temperature should:
1. Change

[2022-10-18 16:07] alkaldt commented on #49
You set comfort and set all. Temps.
And change Mode to auto(schedule), off, antifrost. And control all radiator.
The other two modes, dont need. I think.
El 18 oct 2022 8:54 +0200, Graham Bennett ***@***.***>, escribió:

[2022-10-19 23:37] marconvtr commented on #49
I can set to "auto" no problem, setting to heat causes an error and setting "off" too

also using auto to change temperature, offsets get a little crazy

![simplescreenrecorder-2022-10-19_20 31 55](https://user-images.githubusercontent.com/62856065/196824179-d35329ed-4f8e-4845-8abd-18a5fafa7ea0.gif)

[2022-10-21 14:14] jmcucurella commented on #49
- ON/OFF doesn’t work

- Target temperature is working but sometimes is crazy as explained by @marconvtr, due to offset recalculations.

- I think:

Target temperature will be indicated on all states, but HA only could modify target temperature when in auto & ON.

Offset & Cold  will not be modified from HA

We are very near to get its working, many thanks.

De: Victor Marcon ***@***.***>
Enviado

[2022-10-24 09:26] graham33 commented on #49
Ok, so let me recap to see if I've got this right:
* The heater has four modes: Self-Learning, Presence, Auto (scheduled via the app), and Manual
* There are three temperature levels: Comfort, Eco and Anti-Frost
* In Self-Learning mode, the heater is learning a schedule via sensors and switching between Comfort, Eco and Anti-Frost based on the sensors and the learned schedule
* In Presence mode, i

[2022-10-24 17:07] jmcucurella commented on #49
Ok at all, except (from my point of view)

*	is not necessary to implement temperature change for eco mode & auto mode
*	off mode should be implemented
*	My point of view is HA will be capable of manage equipment, but to do that, only is necessary one mode (manual mode). Using manual mode, HA can implement itself, comfort mode, eco mode, frost mode, calendar automation, etc.

[2022-10-26 06:34] graham33 commented on #49
I've just added some basic support for htr_mod on/off to #57 , if someone could test it that would be great.

@jmcucurella thanks, I was more asking what the status looks like when the heater is off, and ideally what the status update to turn it off looks like. But probably easier to give the new code a try and see if it works/where it breaks.

[2022-10-26 14:42] jmcucurella commented on #49
Hi,

Off mode is working, Auto is working too, but when set in manual we get this error:

2022-10-26 16:34:05.872 ERROR (SyncWorker_2) [smartbox.session] 400 Client Error: Bad Request for url: https://api-haverland.helki.com/api/v2/devs/636a8e764ea387d77c/htr_mod/2/status

2022-10-26 16:34:05.877 ERROR (SyncWorker_2) [smartbox.session] {'error': {'code': 5}}

2022-10-26 16:34:05.884 ERROR (MainThr

[2022-10-26 16:11] jmcucurella commented on #49
Thats it.

2022-10-26 18:08:41.658 DEBUG (MainThread) [homeassistant.components.websocket_api.http.connection] [1889793336] Received {'type': 'call_service', 'domain': 'climate', 'service': 'set_hvac_mode', 'service_data': {'entity_id': 'climate.hab1', 'hvac_mode': 'heat'}, 'id': 132}

2022-10-26 18:08:41.661 DEBUG (MainThread) [homeassistant.core] Bus:Handling <Event call_service[L]: domain=clima

[2022-10-26 19:21] graham33 commented on #49
@jmcucurella I've made a change that passes on other status keys like selected_temp etc. when we set the mode to manual, hopefully that helps.

[2022-10-27 09:24] jmcucurella commented on #49
I think all is working properly, except a little detail:

Temperature selection (comfort, eco or cold) is not modified, for example in my case "selected_temp"= "eco" and program are changing value of "confort_temp", not "eco" then target temperature desired is "confort_temp" - "eco_offset" and “selected_temp” =”eco”, probably because last state was "eco"

I think solution is very easy: at the time

[2022-10-27 11:57] graham33 commented on #49
Thanks for testing! I'm not sure if I understand the issue: are you saying that when you have it in auto mode with selected_temp=eco, then you change it to manual mode via HA, you'd expect it to switch to selected_temp=comfort and display the comfort temp?

So concretely if the heater is auto/eco @16 degrees (comfort_temp=20, eco_offset=4), HA is showing Auto @16 degrees, and then you change to He

[2022-10-27 16:42] graham33 commented on #49
@jmcucurella ok great, thanks. I just pushed one more change to only send `selected_temp`, not the last `comfort_temp` and `eco_offset`, when switching to manual. Would you mind just double-checking that still works? Hopefully it does.

I'll implement the presets next.

[2022-10-27 17:29] jmcucurella commented on #49
It works, but I have a doubt. Do you change the state to "Eco" when HA changes to manual or setpoint is modified?. I have done a test changing from the APP to Comfort and when changing the setpoint, state automatically changes to "ECO".
Another point is when settings are changed from the APP or locally, HA is not updated.

[2022-10-27 17:39] graham33 commented on #49
Ok, I think I'll release the current version as a beta release, so at least other people can easily test it and we can work out these other issues.

No I don't think there's any logic that does that, could of course be a bug somewhere though.

The best way to debug this would be to do the test you describe, and send the output of `smartbox status` before you start and after every change you make t

[2022-10-27 17:49] graham33 opened #60 "Support htr_mod presets"
We should be able to show whether the heater is in Comfort, Eco or Anti-Frost mode via HA presets (PRESET_COMFORT, PRESET_ECO and we'd need to define a custom PRESET_FROST).

The behaviour for this is straightforward in manual mode, since the heater can be manually set to either of those three presets. However it's less clear in `auto`, `self_learn` and `presence` modes. Since all three of these m

[2022-10-27 17:57] #49 closed

[2022-10-27 18:49] jmcucurella commented on #49
As soon as beta release will be ready I will try it. But from November,1 to 13, I can’t do any test.

[2022-10-28 12:16] graham33 commented on #47
Hi, apologies I missed this issue before. Unfortunately I can't give advice on how to obtain the token, but several people have discussed this on the Home Assistant forums and you should be able to find some pointers there.

[2022-10-28 12:16] #47 closed

[2022-11-03 22:22] #51 closed

[2022-11-08 21:08] graham33 commented on #60
Fixed in #63

[2022-11-08 21:08] #60 closed

[2022-11-11 08:16] graham33 commented on #50
It doesn't look like the temperature_unit change has been done in HA, leaving that for now.

[2022-11-11 08:36] #50 closed

[2022-11-15 20:26] germfema commented on #46
@limaynard Hi!  I have an elnur accumulator.
How to obtain the “authorization” in the request post ?Token=... ??  It doesn't appear. :S

Thanks!

[2022-11-16 01:14] limaynard commented on #46
I'll document it when i get back.

[2022-11-19 04:18] limaynard commented on #46
Ok, do you want to find the authorization token?

[2022-11-19 18:51] germfema commented on #46
Yees, i got it!  But i only get temperature entity. Power and Climate is disable.

it is possible to get these two entities for type acm? @graham33 @limaynard

Thanks!

[2022-11-19 22:22] graham33 commented on #46
That's odd - definitely the code should create these entities, in theory. Could you check your logs for smartbox errors or warnings?

[2022-11-19 22:28] limaynard commented on #46
I have same issue but haven't had chance to look at it.

[2022-11-19 22:38] germfema commented on #46
Yes, two erros:

climate.py:

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 428, in async_add_entities
    await asyncio.gather(*tasks)
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 692, in _async_add_entity
    await entity.add_to_platform_finish()
  File "/usr/src/homeassistant/homeassistant/help

[2022-11-20 09:19] graham33 commented on #46
Ah, looking back at status excerpts that people have posted on the forums from acm heaters, it does look like the `active` attribute isn't present. I guess that makes sense since they are storage heaters.

I notice there is a `charging` attribute, perhaps that refers to when the heater is heating up. I could map that to HVACAction.HEATING when it's set to true. If you could send the output of `sma

[2022-11-20 13:55] #46 closed

[2022-11-20 14:00] graham33 commented on #46
I've hopefully fixed this in #70. Please try the latest release and let me know if it works: https://github.com/graham33/hass-smartbox/releases/tag/v1.1.0-beta.4 (it includes some other changes so please check the release notes)

[2022-11-20 17:20] germfema commented on #46
Perfect! Thanks!

![image](https://user-images.githubusercontent.com/117438320/202916160-1e6dd97f-9a9b-449a-a621-52768301d9d4.png)
![image](https://user-images.githubusercontent.com/117438320/202916176-70d7e29e-6ecb-427d-8bae-639bff32c13a.png)

[2022-11-20 18:32] graham33 commented on #46
That's great, thanks for testing!

[2022-11-23 18:25] germfema opened #71 "Include charge level attribute for type acm"
Hi friend

This attribute indicates the level of charge that the acm radiators have. Is it possible to include it in the sensor or climate entity?

 "status":{
               "sync_status":"ok",
               "mode":"manual",
               "heating":false,
               "charging":true,
               "ice_temp":"3.0",
               "eco_temp":"20.0",
               "comf_temp":"21.0",

[2022-11-24 10:42] graham33 commented on #71
Yes it should be quite easy to add an extra sensor for charge level. Is it a value between 0 and 5? I'll represent it using device_class battery I think, so it'll show as a percentage.

I've already mapped the charging attribute to the HEAT HVACMode when it's true, IDLE when it's false. Does that make sense to you?

[2022-11-24 14:27] germfema commented on #71
Yes, value is between 0 and 5.

Certain. hvac_action: idle to know if it is charging or not.

[2022-11-25 21:20] graham33 commented on #39
@patrickbusch I'm just implementing this now - it looks like on my system the minimum (aside from 0) that I can set the limit to is 1000. Is that similar for you? Just trying to work out if it's an arbitrary limit or somehow based on what's attached to the device.

[2022-11-26 17:11] patrickbusch commented on #39
@graham33
The app is really bad for my system, it does not say anything about allowed values.

But due to testing manually it seems that it does not save any values lower than 1000 - so it seems to be the same as with your system.

[2022-11-28 22:41] graham33 commented on #39
@patrickbusch could you try the changes in PR #74 ? it should create an entity that allows you to set the power limit for the device.